header(class="header")
	nav.header__top
		h1.title Nonso Anetoh
		p.tagline Frontend Developer
		ul.navigation
			each link, index in navigation.data.links
				if link.interest_toggle
					li.navigation__link
						button#interests-toggle(data-shortcut=(index + 1))
							span Interests
						sup.superscript= "[" + (index + 1) + "]"
				else
					li.navigation__link
						a(href=Link(link.page) data-shortcut=(index + 1))= link.label
						sup.superscript= "[" + (index + 1) + "]"
	ul.language-toggle
		li
			a(href="/en") EN
		li
			a(href="/fr") FR
	.record-player



