header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--layout-spacing);
  visibility: hidden;
  z-index: z("navigation");
  grid-area: header;

  // display: none;
}

header .indicator {
  height: 0.75em;
}

header {
  display: grid;
  grid-template-areas: "info-group info-group info-group info-group info-group . . navigation navigation navigation navigation navigation";
  grid-template-columns: repeat(12, 1fr);
  gap: calc(var(--r) * 1);
  font-size: calc(var(--r) * 2.4);

  @include media("<=tablet") {
    grid-template-areas: "info-group info-group info-group info-group . . navigation navigation navigation navigation navigation navigation";
    font-size: calc(var(--r) * 1.8);
  }

  @include media("<=phone") {
    grid-template-areas: "info-group info-group info-group info-group info-group info-group info-group info-group info-group info-group info-group info-group";
    font-size: calc(var(--r) * 1.8);
  }
}

header .info-group {
  grid-area: info-group;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include media("<=tablet") {
    flex-direction: column;
    align-items: flex-start;
    justify-content: initial;
  }

  @include media("<=phone") {
    flex-direction: row;
    justify-content: space-between;
  }
}

header .info-group .title {
  grid-area: title;
}

header .info-group .tagline {
  grid-area: tagline;
  color: #808080;
  justify-self: end;
}

header .navigation__links {
  grid-area: navigation;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: calc(2 * var(--r));

  @include media("<=tablet") {
    align-items: flex-end;
    justify-content: flex-end;
  }

  @include media("<=phone") {
    display: none;
  }
}

header .navigation__link,
header .navigation__cta {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(0.3 * var(--r));
}

header .navigation__link:last-child,
header .navigation__cta:last-child {
  @include media(">tablet") {
    margin-left: auto;
    text-align: right;
  }
}
