header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--layout-spacing);
  visibility: hidden;
  z-index: z("navigation");
}

header .indicator {
  height: 0.75em;
  // width: auto;
}

header .desktop {
  display: grid;
  grid-template-areas: "title title . tagline tagline . language-toggle navigation navigation navigation navigation navigation";
  grid-template-columns: repeat(12, 1fr);

  font-size: calc(var(--r) + 0.45em);
}

header .desktop .title {
  grid-area: title;
}

header .desktop .tagline {
  grid-area: tagline;
}

// header .desktop .language-toggle {
//   grid-area: language-toggle;
//   justify-content: end;
//   text-transform: capitalize;
// }

header .desktop .navigation__links {
  grid-area: navigation;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: calc(2.8 * var(--r));
}

header .desktop .navigation__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(0.3 * var(--r));
}

header .desktop .navigation__link:last-child {
  margin-left: auto;
  text-align: right;
}

header .desktop .navigation__link svg {
  visibility: hidden;
}

header .desktop .navigation__link.active svg {
  visibility: visible;
}
