.logo-container {
  --width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: z("logo");
}

#logo {
  --width: 0px;
  --height: 0px;
  position: relative;
}

#logo .event-capture {
  --e-width: calc(var(--width) * 0.5675675676);
  --e-height: calc(var(--height) * 0.3616428259);
  position: absolute;
  top: calc(50% + (var(--e-height) * 0.3184713376 * -1));
  left: calc(50% + (var(--e-width) * 0.1369047619 * 1));
  transform: translate(-50%, -50%);
  width: var(--e-width);
  height: var(--e-height);
  z-index: z("interaction");
}

#logo .frames {
  cursor: pointer;
}

#logo .frame {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--r) * 29.442);

  @include media("<=tablet") {
    width: calc(var(--r) * 24.442);
  }
}

#logo .frame img {
  cursor: pointer;
  width: 100%;
  height: auto;
}
