.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  padding: var(--layout-spacing);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: calc(var(--r) * 2.4);
  align-items: center;

  overflow: hidden;

  z-index: z("preloader");

  @include media("<=tablet") {
    font-size: calc(var(--r) * 1.8);
  }

  @include media("<=phone") {
    font-size: calc(var(--r) * 1.8);
  }
}

.preloader .preloader__title {
  align-content: center;

  @include media("<=tablet") {
    display: none;
  }
}

.preloader .preloader__progress {
  display: inline-block;
}
