.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  padding: var(--layout-spacing);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: calc(var(--r) + 0.3em);
  align-items: center;

  overflow: hidden;

  z-index: z("preloader");
}

.preloader .preloader__title {
  align-content: center;
}

.preloader .preloader__progress {
  display: inline-block;
}
