@font-face {
  font-family: "PP-Neue-Montreal-Mono";
  src: url("../fonts/pp-neue-mono-light.woff2") format("woff2"),
    url("../fonts/pp-neue-mono-light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "PP-Neue-Montreal-Mono";
  src: url("../fonts/pp-neue-mono-regular.woff2") format("woff2"),
    url("../fonts/pp-neue-mono-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PP-Neue-Montreal-Mono";
  src: url("../fonts/pp-neue-mono-medium.woff2") format("woff2"),
    url("../fonts/pp-neue-mono-medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
