extends ../base.pug 

block variables
	- var template = 'home'

block content
	div(class="page page--home")
		.page__content
			h1.page__title=document.data.title
			each slice in document.data.body
				if slice.slice_type === "body_content"
					!=asHTML(slice.primary.text_content)
				else
					| not a slice
	

